*/node_modules
nethack-web/web/node_modules/
nethack-web/web2/node_modules/
client/rust/nethack-rs/src/lib.rs
.assets
.build
nethack-web/web2/dist/
__pycache__/
build/
ttyrecs/
nethack-web/web2/.parcel-cache/
penv
