[submodule "client/NetHack"]
	path = client/NetHack
	url = https://hlinander@github.com/hlinander/NetHack2021.git
[submodule "halloffame"]
	path = halloffame
	url = https://github.com/pellsson/halloffame.git
[submodule "ovh-ttyrec"]
	path = ovh-ttyrec
	url = https://github.com/ovh/ovh-ttyrec.git
